<div class="form-container">
  <form class="advanced-form" [formGroup]="filterForm">
    <p-panel [toggleable]="true">
      <ng-template #header>
        <div>
          <h1 class="filtering-title">დეტალური ფილტრი</h1>
          <div class="p-field">
            <label for="selectedNodes"></label>
            <p-treeselect
              id="selectedNodes"
              formControlName="selectedNodes"
              [options]="nodes"
              [metaKeySelection]="false"
              selectionMode="multiple"
              placeholder="აირჩიე ინფუთი"
              styleClass="w-full"
            ></p-treeselect>
          </div>
        </div>
      </ng-template>
      <ng-template #footer>
        <div class="filter-footer">
          <div class="buttons">
            <p-button
              (click)="applyFilters()"
              [disabled]="filterFiledsCount < 1"
              label="გაფილტვრა"
              pTooltip="გაააქტიურე ფილტრები"
              tooltipPosition="right"
              severity="success"
            />
            <p-button
              (click)="resetForm()"
              label="წაშლა"
              pTooltip="წაშალე გასაფილტრი ინფუთები"
              tooltipPosition="right"
              severity="danger"
            />
            <p-button
              (click)="clearForm()"
              pTooltip="გასაფილტრი ინფუთების გასუფთავება"
              tooltipPosition="right"
              label="გასუფთავება"
              severity="info"
            />
          </div>
        </div>
      </ng-template>
      <ng-template #icons>
        <p-button
          icon="pi pi-cog"
          severity="secondary"
          rounded
          text
          (click)="menu.toggle($event)"
        />
        <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
      </ng-template>
      <div class="dynamic-form m-0">
        @if(filterFiledsCount > 0){
        <!-- <p>Filters</p> -->
        @for(control of filterForm.controls | keyvalue; track control){
        @if(control.key !== 'selectedNodes'){
        <p-floatLabel>
          <input
            pInputText
            id="{{ control.key }}"
            [formControlName]="control.key"
          />
          <label for="{{ control.key }}">{{ control.key }}</label>
        </p-floatLabel>
        } } }@else {
        <p class="no-filters">არცერთი ფილტრი არაა დამატებული</p>

        }
      </div>
    </p-panel>
    <p-panel [toggleable]="true">
      <ng-template #header>
        <h1 class="filtering-title">გლობალური ფილტრი</h1>
      </ng-template>
      <form class="global-search" [formGroup]="simpleFiltering">
        <p-floatLabel>
          <input
            pInputText
            formControlName="keyword"
            type="text"
            id="keyword"
            class="your-input-classes"
          />
          <label for="keyword">ძებნა ყველა მონაცემში...</label>
        </p-floatLabel>
      </form>
    </p-panel>
  </form>
</div>
