::ng-deep {
  .p-treeselect {
    width: 200px;
  }

  .p-panel {
    border-radius: 0 !important;
  }
}

.filtering-title {
  padding: 5px;
}

.clients {
  display: flex;
}

.p-field {
  margin-top: 10px;
}

.p-field {
  margin-bottom: 1rem;
}

.p-fluid .p-field {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dynamic-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 7px;
}

.filter-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: self-end;
  .buttons {
    display: flex;
    gap: 10px;
  }
}

.global-search {
  padding: 15px 0;
}

.no-filters {
  padding-left: 10px;
  filter: brightness(80%);
}
