<div class="info-grid">
  <div class="info-column">
    <div class="field">
      <div class="label">სახელი</div>
      <div class="value">{{ client().firstname }}</div>
    </div>
    <div class="field">
      <div class="label">გვარი</div>
      <div class="value">{{ client().lastname }}</div>
    </div>
    <div class="field">
      <div class="label">პირადი ნომერი</div>
      <div class="value">{{ client().idNumber }}</div>
    </div>
  </div>
  <div class="info-column">
    <div class="field">
      <div class="label">მობილური</div>
      <div class="value">{{ client().mobile }}</div>
    </div>
    <div class="field">
      <div class="label">სქესი</div>
      <div class="value">{{ client().gender }}</div>
    </div>
  </div>
</div>
