.client-form {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  .image-container {
    align-self: center;
  }
  .second-column,
  .third-column,
  .child-group {
    display: flex;
    flex-direction: column;
  }
  .second-column {
    gap: 30px;
  }
  .third-column {
    gap: 16px;
  }

  .address {
    font-size: 0.75rem;
    color: #94a3b8;
    margin-bottom: 6px;
  }

  .child-group {
    gap: 12px;
  }

  .error {
    margin: 0 0 0 3px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #dc2626;
    font-size: 0.75rem;

    span:first-child {
      margin-top: 5px;
    }
    span:last-child {
      // margin-bottom: 15px;
    }
  }
}

:host ::ng-deep {
  &.justify-content-end {
    justify-content: flex-end;
  }
  &.buttons {
    margin-top: 25px;
    gap: 15px;
  }
}
