<p-dialog
  [header]="action() == 'edit' ? 'კლიენტის განახლება' : 'კლიენტის დამატება'"
  [modal]="true"
  [(visible)]="visible"
  (visibleChange)="onCancel()"
>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div class="client-form">
      <div class="image-container">
        <p-image
          [src]="imagePreview() || ''"
          alt="Image"
          width="250"
          [preview]="true"
        />
      </div>
      <div class="second-column">
        <div style="padding-top: 20px">
          <p-floatLabel>
            <input
              pInputText
              id="firstname"
              formControlName="firstname"
              class="flex-auto"
              autocomplete="off"
            />
            <label for="firstname">სახელი</label>
          </p-floatLabel>
          @if(clientForm.get('firstname')?.touched &&
          clientForm.get('firstname')?.invalid){
          <ul class="error">
            @if( clientForm.get('firstname')?.errors?.['minlength'] ||
            clientForm.get('firstname')?.errors?.['maxlength']){
            <span>სიგრძე 2-სა და 50-ს შორის</span>
            } @if(clientForm.get('firstname')?.errors?.['invalidCharacters']){
            <span>მხოლოდ ქართული ან ლათინური</span>
            }
          </ul>
          }
        </div>

        <div>
          <p-floatLabel>
            <input
              pInputText
              id="lastname"
              formControlName="lastname"
              class="flex-auto"
              autocomplete="off"
            />
            <label for="lastname">გვარი</label>
          </p-floatLabel>
          @if(clientForm.get('lastname')?.touched &&
          clientForm.get('lastname')?.invalid){
          <ul class="error">
            @if( clientForm.get('lastname')?.errors?.['minlength'] ||
            clientForm.get('lastname')?.errors?.['maxlength']){
            <span>სიგრძე 2-სა და 50-ს შორის</span>
            } @if(clientForm.get('lastname')?.errors?.['invalidCharacters']){
            <span>მხოლოდ ქართული ან ლათნური</span>
            }
          </ul>
          }
        </div>

        <div>
          <p-floatLabel>
            <input
              pInputText
              id="idNumber"
              mask="00000000000"
              formControlName="idNumber"
              class="flex-auto"
              autocomplete="off"
            />
            <label for="idNumber">პირადი ნომერი</label>
          </p-floatLabel>
          @if( clientForm.get('idNumber')?.touched &&
          clientForm.get('idNumber')?.invalid){
          <ul class="error">
            @if(clientForm.get('idNumber')?.errors?.['pattern']){
            <span>გთხოვთ შეიყვანეთ 11 ციფრი</span>
            }
          </ul>
          }
        </div>
        <div>
          <p-floatLabel>
            <input
              pInputText
              id="mobile"
              mask="(000) 000 000"
              formControlName="mobile"
              class="flex-auto"
              [showMaskTyped]="true"
              autocomplete="off"
            />
            <label for="mobile">მობლიური</label>
          </p-floatLabel>
          @if(clientForm.get('mobile')?.touched &&
          clientForm.get('mobile')?.invalid){
          <ul class="error">
            @if( clientForm.get('mobile')?.errors?.['minlength'] ||
            clientForm.get('mobile')?.errors?.['maxlength']){
            <span>Length: 9 digits</span>
            } @if(clientForm.get('mobile')?.errors?.['pattern']){
            <span>გთხოვთ დაიწყეთ ციფრი 5-ით</span>
            }
          </ul>
          }
        </div>
        <div class="flex mb-3" style="flex-direction: column">
          <p-dropdown
            id="gender"
            formControlName="gender"
            [options]="genders"
            optionLabel="label"
            optionValue="value"
            placeholder="აირჩიეთ სქესი"
            class="flex-auto"
          ></p-dropdown>
        </div>
      </div>
      <div class="third-column">
        <div class="child-form">
          <p class="address">იურიდიული მისამართ</p>
          <div class="child-group" formGroupName="legalAddress">
            <input
              pInputText
              id="mobile"
              formControlName="country"
              class="flex-auto"
              placeholder="ქვეყანა"
              mask="A*"
              [patterns]="customPatterns"
              autocomplete="off"
            />
            <input
              pInputText
              id="mobile"
              formControlName="city"
              placeholder="ქალაქი"
              mask="A*"
              [patterns]="customPatterns"
              class="flex-auto"
              autocomplete="off"
            />
            <input
              pInputText
              id="mobile"
              formControlName="street"
              placeholder="ქუჩა"
              mask="A*"
              [patterns]="customPatterns"
              class="flex-auto"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="child-form">
          <p class="address">ფაქტიური მისამართი</p>
          <div class="child-group" formGroupName="actualAddress">
            <input
              pInputText
              id="mobile"
              formControlName="country"
              placeholder="ქვეყანა"
              mask="A*"
              [patterns]="customPatterns"
              class="flex-auto"
              autocomplete="off"
            />
            <input
              pInputText
              id="mobile"
              formControlName="city"
              placeholder="ქალაქი"
              mask="A*"
              [patterns]="customPatterns"
              class="flex-auto"
              autocomplete="off"
            />
            <input
              pInputText
              id="mobile"
              formControlName="street"
              placeholder="ქუჩა"
              mask="A*"
              [patterns]="customPatterns"
              class="flex-auto"
              autocomplete="off"
            />
          </div>
        </div>
      </div>
    </div>
    @if(clientForm.errors?.['mismatchedAlphabet']){
    <small class="error mismatch">
      სახელი და გვარი ერთი დამწერლობის უნდა იყოს(ლათნური ან ქართული)
    </small>
    }@else {
    <small class="error"> </small>
    }
    <p-fileupload
      name="demo[]"
      url="https://www.primefaces.org/cdn/api/upload.php"
      (onUpload)="onUpload($event)"
      [multiple]="false"
      accept="image/*"
      maxFileSize="1000000"
      mode="advanced"
      toolip="aeeee"
    >
      <ng-template #empty>
        <p-message severity="info">
          <div>
            შესაძლებელია ფაილის drag and drop, ჩაგდების შემდეგ upload-ს დააჭირეთ
          </div>
        </p-message>
      </ng-template>
      <ng-template #content>
        @if(uploadedFiles.length){ @for(file of uploadedFiles; track file){
        <div>{{ file.name }} - {{ file.size }} bytes</div>
        } }
      </ng-template>
    </p-fileupload>

    <div class="flex justify-content-end buttons">
      <p-button label="დახურვა" severity="secondary" (click)="onCancel()" />
      <p-button
        [disabled]="clientForm.invalid"
        [label]="action() == 'edit' ? 'გაანახლე' : 'დაამატე'"
        type="submit"
      />
    </div>
  </form>
</p-dialog>
